
.stackapplet-title-label {
  font-weight: bold;
}

.stackapplet-whatwhere-label {
  color: gray;
  font-style: italic;
}

.stackapplet-remove-button:hover,
.stackapplet-remove-button:focus {
  color: gray;
}
